/datasets
/weights-20G
/input
/build
/keys
/weights-20NG
/src/trained_models
/src/trained_models
/weights-sst2
/checkpoint
/src/python/weights-20NG
/src/tmp_embeddings
/src/tmp_embeddings
/src/tmp_embeddings
*.txt
/src/tmp_embeddings
/src/tmp_embeddings
